* {
    margin: 0;
    padding: 0;
    
}
.wrapper {
   
}
#box {
    display: flex; 
    flex-wrap: wrap;
    border: 5px solid black ;
    height: 400px;
    width: 400px;

    
    
}
#box > * {
    padding: 0px;
    margin: 0px;
    
}
.square {
    border: 0.5px solid rgb(0, 0, 0);
    

}